rules_version='2';
service cloud.firestore{
 match /databases/{database}/documents{
  function signedIn(){return request.auth!=null;}
  function admin(){return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role=="admin";}
  match /testSeries/{id}{allow read:if true;allow write:if admin();}
  match /tests/{id}{allow read:if true;allow write:if admin();}
  match /questions/{id}{allow read:if true;allow create,update,delete:if admin();}
  match /users/{uid}{allow read:if signedIn()&&request.auth.uid==uid;allow create,update:if signedIn()&&request.auth.uid==uid;allow delete:if false;}
  match /attempts/{id}{allow create:if signedIn()&&request.resource.data.userId==request.auth.uid;allow read:if signedIn()&&(resource.data.userId==request.auth.uid||admin());allow update,delete:if admin();}
 }
}